<ion-app>

  <!-- MENU GLOBAL -->
  <ion-menu contentId="main-content" side="end" type="overlay">

    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>

        <!-- Sempre visível -->
        <ion-item routerLink="/home" routerDirection="root" lines="none" detail="false" (click)="fecharMenu()">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          Início
        </ion-item>

        <!-- Logado: visível para todos -->
        @if (isLogado) {
          <ion-item routerLink="/data-parametros" routerDirection="forward" lines="none" detail="false" (click)="fecharMenu()">
            <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
            Estatísticas
          </ion-item>
        }

        <!-- Logado: visível apenas para produtor -->
        @if (isLogado && isProdutor || isAdmin) {
          <ion-item routerLink="/meus-dados" routerDirection="forward" lines="none" detail="false" (click)="fecharMenu()">
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            Meus Dados
          </ion-item>

          <ion-item routerLink="/cadastro-parametros" routerDirection="forward" lines="none" detail="false" (click)="fecharMenu()">
            <ion-icon name="document-text-outline" slot="start"></ion-icon>
            Cadastrar Parâmetros
          </ion-item>
        }

        <!-- Logado: sair -->
        @if (isLogado) {
          <ion-item lines="none" detail="false" (click)="sair()">
            <ion-icon name="log-out-outline" slot="start" color="danger"></ion-icon>
            <ion-label color="danger">Sair</ion-label>
          </ion-item>
        }

        <!-- Não logado -->
        @if (!isLogado) {
          <ion-item routerLink="/login" routerDirection="root" lines="none" detail="false" (click)="fecharMenu()">
            <ion-icon name="log-in-outline" slot="start"></ion-icon>
            Login
          </ion-item>

          <ion-item routerLink="/cadastro-conta" routerDirection="forward" lines="none" detail="false" (click)="fecharMenu()">
            <ion-icon name="person-add-outline" slot="start"></ion-icon>
            Criar Conta
          </ion-item>
        }

      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- CONTEÚDO PRINCIPAL -->
  <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-app>
