<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="medium">
    <h2 style="margin-top: 24px;">Crie sua Conta</h2>
  </ion-text>

  <ion-item>
    <ion-input [(ngModel)]="name" placeholder="Nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="email" placeholder="Email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="password" type="password" placeholder="Senha"></ion-input>
  </ion-item>

  <ion-button
    color="primary"
    expand="full"
    (click)="cadastrarConta()"
    [disabled]="!name || !email || !password">
    Cadastrar
  </ion-button>
</ion-content>
