<ion-header>
  <ion-toolbar>
    <ion-title>PreçoLeite</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="medium">
    <h2 style="margin-top: 24px;">Cadastro dos Parâmetros</h2>
  </ion-text>

   <ion-item>
    <ion-input [(ngModel)]="laticinio" placeholder="Laticínio"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="mesReferencia" placeholder="Mês Referência"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="precoLitro" placeholder="Preço por Litro"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="producaoLitros" placeholder="Produção em Litros"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="ccs" placeholder="CCS"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="cbt" placeholder="CBT"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="gordura" placeholder="Gordura"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="proteina" placeholder="Proteína"></ion-input>
  </ion-item>

  <ion-button
    color="primary"
    expand="full"
    (click)="cadastrarParametros()"
    [disabled]="!todosCamposPreenchidos()">
    Salvar
  </ion-button>
</ion-content>
