<ion-header>
  <ion-toolbar>
    <ion-title>PreçoLeite</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="medium">
    <h2 style="margin-top: 24px;">Cadastro dos Parâmetros</h2>
  </ion-text>

  <!-- 🔽 Laticínio (Select) -->
  <ion-item>
    <ion-label position="stacked">Laticínio </ion-label>
    <ion-select interface="alert" (ionFocus)="removerFoco($event)" [(ngModel)]="laticinio"
      placeholder="Selecione o laticínio">

      @for (item of laticinios; track item) {
      <ion-select-option [value]="item">
        {{ item }}
      </ion-select-option>
      }

    </ion-select>
  </ion-item>

  <ion-item>
<ion-label position="stacked">Mês de Referência</ion-label>
    <ion-select interface="alert" (ionFocus)="removerFoco($event)" [(ngModel)]="mesReferencia"
      placeholder="Selecionar">

      @for (mes of mesesDisponiveis; track mes.valor) {
      <ion-select-option [value]="mes.valor">
        {{ mes.nome }}
      </ion-select-option>
      }

    </ion-select>
  </ion-item>

  <ion-item>
  <ion-label position="stacked">Preço do leite (R$/L)</ion-label>
 <ion-input
  type="tel"
  [value]="precoLitro"
  inputmode="numeric"
  (ionInput)="formatarMoeda($event, 'precoLitro')">
</ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Produção diária (litros)</ion-label>
  <ion-input [(ngModel)]="producaoLitros" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">CCS (x1000 cél./mL)</ion-label>
  <ion-input [(ngModel)]="ccs" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">CBT (UFC/mL)</ion-label>
  <ion-input [(ngModel)]="cbt" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Gordura (%)</ion-label>
  <ion-input
   type="tel"
  [value]="gordura"
 inputmode="numeric"
  (ionInput)="formatarMoeda($event, 'gordura')">
</ion-input>

</ion-item>

<ion-item>
  <ion-label position="stacked">Proteína (%)</ion-label>
 <ion-input
  type="tel"
 [value]="proteina"
 inputmode="numeric"
  (ionInput)="formatarMoeda($event, 'proteina')">
</ion-input>
</ion-item>

  <ion-button color="primary" expand="full" (click)="cadastrarParametros()" [disabled]="!todosCamposPreenchidos()">
    Salvar
  </ion-button>
</ion-content>
