<ion-header>
  <ion-toolbar>
    <ion-title>PreçoLeite</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="medium">
    <h2 style="margin-top: 24px;">Cadastro dos Parâmetros</h2>
  </ion-text>

  <!-- 🔽 Laticínio (Select) -->
  <ion-item>
    <ion-select
     interface="alert"
     (ionFocus)="removerFoco($event)"
      [(ngModel)]="laticinio"
      placeholder="Selecione o laticínio">

      @for (item of laticinios; track item) {
        <ion-select-option   [value]="item">
          {{ item }}
        </ion-select-option>
      }

    </ion-select>
  </ion-item>

  <ion-item>

  <ion-select
     interface="alert"
     (ionFocus)="removerFoco($event)"
    [(ngModel)]="mesReferencia"
    placeholder="Selecione o mês Referência">

    @for (mes of mesesDisponiveis; track mes.valor) {
      <ion-select-option  [value]="mes.valor">
        {{ mes.nome }}
      </ion-select-option>
    }

  </ion-select>
</ion-item>

  <ion-item>
    <ion-input
      [(ngModel)]="precoLitro"
      type="number"
      placeholder="Preço por Litro">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      [(ngModel)]="producaoLitros"
      type="number"
      placeholder="Produção em Litros">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      [(ngModel)]="ccs"
      type="number"
      placeholder="CCS">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      [(ngModel)]="cbt"
      type="number"
      placeholder="CBT">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      [(ngModel)]="gordura"
      type="number"
      placeholder="Gordura">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      [(ngModel)]="proteina"
      type="number"
      placeholder="Proteína">
    </ion-input>
  </ion-item>

  <ion-button
    color="primary"
    expand="full"
    (click)="cadastrarParametros()"
    [disabled]="!todosCamposPreenchidos()">
    Salvar
  </ion-button>
</ion-content>
